[submodule "src/gdtoa"]
	path = src/gdtoa
	url = https://github.com/jensbjorgensen/ea-gdtoa
[submodule "meson-buildsystem"]
	path = build
	url = https://github.com/jensbjorgensen/ea-meson-buildsystem
	branch = main
[submodule "printf"]
	path = printf
	url = https://github.com/embeddedartistry/printf
[submodule "openlibm"]
	path = openlibm
	url = https://github.com/jensbjorgensen/ea-openlibm
	branch = master
[submodule "cmake"]
	path = cmake
	url = https://github.com/embeddedartistry/cmake-buildsystem
